html {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir,
    'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial,
    sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --gray-900: #111114;
    --gray-800: #222224;
    --gray-700: #444444;
    --gray-600: #666664;
    --gray-500: #888884;
    --gray-400: #aaaaa4;
    --gray-300: #ccccc4;
    --gray-200: #e2e2e4;
    --gray-100: #f9f9f9;
    --white: white;
    --blue: #4299e1;
    --red: #f56565;
    --text-decoration-color: var(--gray-400);
    --text-color: var(--gray-800);
    --border-radius: 6px;
}

label {
    font-weight: bold;
    display: flex;
}

.new-product-form {
    margin: 32px auto;
    max-width: 600px;
    background-color: #f7fcff;
    padding: 1rem;
    border: 1px solid #e6e6ff;
    border-radius: var(--border-radius);
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

input[type='text'],
input[type='number'] {
    padding: 0.65rem 0.5rem;
    font-size: 1rem;
    border: 2px solid var(--white);
    background-color: var(--white);
    color: var(--gray-800);
    border-radius: var(--border-radius);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.valid input[type='text'],
.valid input[type='number'] {
    border-color: green;
}

.valid .feedback {
    color: green;
}

.invalid input[type='text'],
.invalid input[type='number'] {
    border-color: red;
}

.invalid .feedback {
    color: red;
}
